<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.gallery3d">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application>
        <activity android:name=".crop.CropActivity"></activity>
    </application>
</manifest>